.container {
  margin: 10px 15px;
  width: 100%;
}

.dataContainer {
  height: min-content;
  border: 3px solid rgba(115, 0, 255);
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 15px;

  display: flex;
  flex-wrap: wrap;
  
}

.headerDataContainer {
  font-size: 18px;
  margin: 0px 4px;

  display: flex;
  justify-content: center;
}
